In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Name of the CSV file and show path
file = "All_playerss.csv"
all_playerss_csv_path = "All_playerss.csv"

In [3]:
all_players_clean = "All_playerss.csv"
all_players_clean = pd.read_csv(file)
all_players_clean

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9580,Brian Rodriguez,LAFC,F,7,5,385,0,0,17,5,...,0,0.00,5,5,1,0,0,29.41,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [4]:
# Import the data into a Pandas DataFrame
players_df = pd.read_csv(all_playerss_csv_path)
players_df

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9580,Brian Rodriguez,LAFC,F,7,5,385,0,0,17,5,...,0,0.00,5,5,1,0,0,29.41,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [5]:
# Indexing and eliminate rows past 2019
indexNames = all_players_clean[ all_players_clean["Year"] > 2019 ].index
# Delete rows from dataFrame
all_players_clean.drop(indexNames , inplace=True)
all_players_clean

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9580,Brian Rodriguez,LAFC,F,7,5,385,0,0,17,5,...,0,0.00,5,5,1,0,0,29.41,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [6]:
# Drop all players with less than 900 Minutes
indexNames = all_players_clean[ all_players_clean["MINS"] < 900 ].index
# Delete rows from dataFrame
all_players_clean.drop(indexNames , inplace=True)
all_players_clean

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577,Frankie Amaya,CIN,M,19,15,1241,0,0,16,5,...,0,0.00,18,28,1,2,0,31.25,2019,reg
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [7]:
# Remove and delete unecessary columns from the DataFrame and save the new DataFrame
all_players_cleaned = all_players_clean.drop(["POS", "GP", "GS", "A", "SHTS", "HomeGame", "RoadGame", "SC%", "HmA", "RdA", "FS", "OFF"], axis = 1)
all_players_cleaned.head(10)

all_players_cleaned.sort_values(by = ["Club", "G"], ascending = False)

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
5605,Camilo Sanvezzo,VAN,2418,22,55,5,0.82,2,0.22,51,5,0,44.72,2013,reg
5073,Fredy Montero,VAN,2576,13,46,3,0.45,3,0.28,63,5,1,36.51,2012,reg
7769,Fredy Montero,VAN,2469,13,35,1,0.47,4,0.22,45,6,0,40.70,2017,reg
3802,Fredy Montero,VAN,2217,12,32,4,0.49,0,0.28,47,5,1,37.21,2009,reg
4574,Fredy Montero,VAN,2304,12,42,5,0.47,2,0.35,55,7,0,38.89,2011,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9355,Brooks Lennon,ATL,1539,0,2,0,0.00,1,0.06,23,3,0,20.00,2019,reg
9360,Eric Remedi,ATL,2055,0,3,0,0.00,0,0.04,32,6,0,27.27,2019,reg
9364,Jeff Larentowicz,ATL,1465,0,1,0,0.00,0,0.06,27,4,1,9.09,2019,reg
9533,Michael Parkhurst,ATL,1443,0,2,0,0.00,0,0.00,11,3,0,50.00,2019,reg
9581,Miles Robinson,ATL,2978,0,6,0,0.00,0,0.00,23,4,0,31.58,2019,reg

In [8]:
players_byclubs = players_df.sort_values(by = ['Player', 'Club'], ascending = False)
players_byclubs

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
4250,Álvaro Fernández,SEA,M,12,4,475,2,1,4,3,...,1,0.19,6,10,2,0,0,75.00,2010,reg
4589,Álvaro Fernández,SEA,M,29,23,1849,9,0,42,21,...,0,0.00,16,34,6,3,0,50.00,2011,reg
7411,Álvaro Fernández,SEA,M,10,8,530,1,1,5,2,...,1,0.17,8,11,4,0,0,40.00,2016,reg
8308,Álvaro Fernández,SEA,M,10,5,492,0,0,5,4,...,0,0.00,4,8,2,1,0,80.00,2017,reg
5133,Álvaro Fernández,CHI,M,27,23,1863,4,3,29,7,...,0,0.14,16,43,4,2,1,24.14,2012,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7704,A.J. DeLaGarza,MIA,D,24,23,2064,0,0,3,1,...,0,0.00,21,21,0,5,0,33.33,2016,reg
8050,A.J. DeLaGarza,MIA,D,30,30,2623,0,3,8,2,...,1,0.10,26,20,0,8,0,25.00,2017,reg
8824,A.J. DeLaGarza,MIA,D,4,4,360,0,0,0,0,...,0,0.00,6,2,0,0,0,NaN,2018,reg
9350,A.J. DeLaGarza,MIA,D,23,23,1995,0,1,8,2,...,0,0.05,25,26,1,6,0,25.00,2019,reg
5296,Christian Wilhelmsson,LA,M,5,4,303,1,0,9,2,...,0,0.00,8,6,3,0,0,22.22,2012,reg

In [14]:
players_byclubs = players_df.sort_values(by = ['Player', 'Club', 'G', 'GWG','G/90min','SOG%'], ascending = False)
players_byclubs

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
4589,Álvaro Fernández,SEA,M,29,23,1849,9,0,42,21,...,0,0.00,16,34,6,3,0,50.00,2011,reg
4250,Álvaro Fernández,SEA,M,12,4,475,2,1,4,3,...,1,0.19,6,10,2,0,0,75.00,2010,reg
7411,Álvaro Fernández,SEA,M,10,8,530,1,1,5,2,...,1,0.17,8,11,4,0,0,40.00,2016,reg
8308,Álvaro Fernández,SEA,M,10,5,492,0,0,5,4,...,0,0.00,4,8,2,1,0,80.00,2017,reg
5133,Álvaro Fernández,CHI,M,27,23,1863,4,3,29,7,...,0,0.14,16,43,4,2,1,24.14,2012,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9350,A.J. DeLaGarza,MIA,D,23,23,1995,0,1,8,2,...,0,0.05,25,26,1,6,0,25.00,2019,reg
5531,A.J. DeLaGarza,MIA,D,30,30,2644,0,0,1,0,...,0,0.00,41,32,0,4,0,0.00,2012,reg
6987,A.J. DeLaGarza,MIA,D,24,22,1963,0,1,4,0,...,0,0.05,11,11,0,4,0,0.00,2015,reg
8824,A.J. DeLaGarza,MIA,D,4,4,360,0,0,0,0,...,0,0.00,6,2,0,0,0,NaN,2018,reg
5296,Christian Wilhelmsson,LA,M,5,4,303,1,0,9,2,...,0,0.00,8,6,3,0,0,22.22,2012,reg

In [11]:
players_goals_df = (players_df.groupby("Player")["G"])
players_goals_df

In [9]:
# Using GroupBy in order to separate the data into fields according to "club" values
grouped_club_df = all_players_clean.groupby(['Club'])
grouped_club_df