In [100]:

#Dependencies
%matplotlib notebook

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
from scipy.stats import sem
from collections import Counter
import numpy as np
import os
import csv

#Read raw csv for all_goalkeepers_working_copy

gk_Cleaning = "all_goalkeepers_working_copy.csv"
gk_cleaning = pd.read_csv(gk_Cleaning)
gk_cleaning

,Player,Club,Position,Games Played,GS,Minutes,Shots,SV,Goals Against,Goals Against Average,PKG/A,Won,Loss,Tie,ShO,Winning %,Save %,Year,Season
0,Mark Dodd,DAL,GK,31,31,2776,235,160,45,1.45,5-May,17,14,0,6,54.8,68.1,1996,reg
1,Tony Meola,MET,GK,29,29,2610,188,142,38,1.31,4-Mar,14,15,0,9,48.3,75.5,1996,reg
2,Mark Dougherty,TB,GK,28,28,2520,186,123,47,1.68,10-Sep,17,11,0,3,60.7,66.1,1996,reg
3,Jorge Campos,LA,GK,24,24,2160,133,100,27,1.13,0/1,13,8,0,4,54.2,75.2,1996,reg
4,Garth Lagerwey,KC,GK,23,22,1959,133,83,38,1.73,2-Feb,12,10,0,3,52.2,62.4,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,Adrian Zendejas,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2020,post
2002,Mason Stajduhar,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2020,post
2003,Brady Scott,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2020,post
2004,Kendall McIntosh,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2020,post
2005,Matt Bersano,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2020,post

In [101]:
#Eliminate rows past 2019
indexNames = gk_cleaning[ gk_cleaning["Year"] > 2019 ].index
# Delete these row indexes from dataFrame
gk_cleaning.drop(indexNames , inplace=True)
gk_cleaning

,Player,Club,Position,Games Played,GS,Minutes,Shots,SV,Goals Against,Goals Against Average,PKG/A,Won,Loss,Tie,ShO,Winning %,Save %,Year,Season
0,Mark Dodd,DAL,GK,31,31,2776,235,160,45,1.45,5-May,17,14,0,6,54.8,68.1,1996,reg
1,Tony Meola,MET,GK,29,29,2610,188,142,38,1.31,4-Mar,14,15,0,9,48.3,75.5,1996,reg
2,Mark Dougherty,TB,GK,28,28,2520,186,123,47,1.68,10-Sep,17,11,0,3,60.7,66.1,1996,reg
3,Jorge Campos,LA,GK,24,24,2160,133,100,27,1.13,0/1,13,8,0,4,54.2,75.2,1996,reg
4,Garth Lagerwey,KC,GK,23,22,1959,133,83,38,1.73,2-Feb,12,10,0,3,52.2,62.4,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847,Phillip Ejimadu,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,post
1848,Kendall McIntosh,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,post
1849,Pablo Sisniega,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,post
1850,Brendan Moore,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,post
1851,Jeff Caldwell,NaN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,post

In [102]:
#Eliminate post season rows
indexNames = gk_cleaning[ gk_cleaning["Season"] == "post" ].index
# Delete these row indexes from dataFrame
gk_cleaning.drop(indexNames , inplace=True)
gk_cleaning

,Player,Club,Position,Games Played,GS,Minutes,Shots,SV,Goals Against,Goals Against Average,PKG/A,Won,Loss,Tie,ShO,Winning %,Save %,Year,Season
0,Mark Dodd,DAL,GK,31,31,2776,235,160,45,1.45,5-May,17,14,0,6,54.8,68.1,1996,reg
1,Tony Meola,MET,GK,29,29,2610,188,142,38,1.31,4-Mar,14,15,0,9,48.3,75.5,1996,reg
2,Mark Dougherty,TB,GK,28,28,2520,186,123,47,1.68,10-Sep,17,11,0,3,60.7,66.1,1996,reg
3,Jorge Campos,LA,GK,24,24,2160,133,100,27,1.13,0/1,13,8,0,4,54.2,75.2,1996,reg
4,Garth Lagerwey,KC,GK,23,22,1959,133,83,38,1.73,2-Feb,12,10,0,3,52.2,62.4,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,Brendan Moore,ATL,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,reg
1227,Jeff Caldwell,NE,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,reg
1228,Adam Grinwis,ORL,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,reg
1229,Thomas Hasal,VAN,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,reg
1230,David Ochoa,RSL,GK,0,0,0,0,0,0,0.00,0/0,0,0,0,0,0.0,0.0,2019,reg

In [103]:
#Eliminate Goal keepers with less than 900 Minutes
indexNames = gk_cleaning[ gk_cleaning["Minutes"] < 900  ].index

# Delete these row indexes from dataFrame
gk_cleaning.drop(indexNames , inplace=True)
gk_cleaning

,Player,Club,Position,Games Played,GS,Minutes,Shots,SV,Goals Against,Goals Against Average,PKG/A,Won,Loss,Tie,ShO,Winning %,Save %,Year,Season
0,Mark Dodd,DAL,GK,31,31,2776,235,160,45,1.45,5-May,17,14,0,6,54.8,68.1,1996,reg
1,Tony Meola,MET,GK,29,29,2610,188,142,38,1.31,4-Mar,14,15,0,9,48.3,75.5,1996,reg
2,Mark Dougherty,TB,GK,28,28,2520,186,123,47,1.68,10-Sep,17,11,0,3,60.7,66.1,1996,reg
3,Jorge Campos,LA,GK,24,24,2160,133,100,27,1.13,0/1,13,8,0,4,54.2,75.2,1996,reg
4,Garth Lagerwey,KC,GK,23,22,1959,133,83,38,1.73,2-Feb,12,10,0,3,52.2,62.4,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,David Ousted,CHI,GK,14,14,1260,56,34,20,1.43,2-Jan,4,6,4,4,28.6,60.7,2019,reg
1174,Zack Steffen,CLB,GK,13,13,1170,56,39,17,1.31,2-Jan,5,6,2,4,38.5,69.6,2019,reg
1175,Eloy Room,CLB,GK,12,12,1080,47,33,14,1.17,2-Feb,5,2,5,1,41.7,70.2,2019,reg
1176,Clint Irwin,COL,GK,11,9,901,58,42,17,1.89,3-Feb,4,4,2,1,36.4,72.4,2019,reg
1177,Jeff Attinella,POR,GK,10,10,900,64,40,24,2.40,3-Mar,1,7,2,0,10.0,62.5,2019,reg

In [112]:
gk_cleaning_mins_vs_gaa = gk_cleaning.sort_values(by =['Minutes',  'Goals Against Average'], ascending=False)
gk_cleaning_mins_vs_gaa

,Player,Club,Position,Games Played,GS,Minutes,Shots,SV,Goals Against,Goals Against Average,PKG/A,Won,Loss,Tie,ShO,Winning %,Save %,Year,Season
1071,David Bingham,LA,GK,34,34,3060,186,121,64,1.88,8-Jun,13,12,9,8,38.2,65.1,2018,reg
930,Joe Bendik,PHI,GK,34,34,3060,178,114,60,1.76,7-Apr,9,11,14,5,26.5,64.0,2016,reg
1151,Daniel Vega,SJ,GK,34,34,3060,164,108,55,1.62,7-Apr,13,16,5,7,38.2,65.9,2019,reg
866,Steve Clark,POR,GK,34,34,3060,168,114,53,1.56,4-Apr,15,11,8,6,44.1,67.9,2015,reg
1072,Evan Bush,MTL,GK,34,34,3060,184,132,53,1.56,8-Jun,14,16,4,10,41.2,71.7,2018,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,Greg Sutton,NY,GK,10,10,900,44,30,15,1.50,5-Feb,3,2,5,2,30.0,68.2,2011,reg
758,Joe Cannon,VAN,GK,10,10,900,42,31,14,1.40,0/0,3,4,3,1,30.0,73.8,2013,reg
823,Jeff Attinella,POR,GK,10,10,900,60,45,14,1.40,5-Mar,2,4,4,3,20.0,75.0,2014,reg
398,Noah Palmer,CLB,GK,10,10,900,56,40,13,1.30,0/0,1,5,4,1,10.0,71.4,2006,reg
538,Andy Gruenebaum,CLB,GK,10,10,900,36,21,12,1.20,2-Jan,4,2,4,1,40.0,58.3,2009,reg

In [105]:

gk_cleaning_Min_win=gk_cleaning.drop(["Position", "Games Played", "GS", "ShO", "Won", "Loss", "Tie", "Goals Against", "Goals Against Average", "Shots", "SV", "Season", "PKG/A"], axis = 1)
gk_cleaning_Min_win.head(50)

gk_cleaning_Min_win.sort_values(by =['Minutes',  'Winning %'], ascending=False)

               Player Club  Minutes  Winning %  Save %  Year
803       Stefan Frei  SEA     3060       58.8    66.4  2014
615      Kasey Keller  SEA     3060       52.9    75.9  2011
674     Jimmy Nielsen  KC      3060       52.9    75.5  2012
863       Luis Robles  MIA     3060       52.9    65.6  2015
1070        Tim Melia  SKC     3060       52.9    71.6  2018
...               ...  ...      ...        ...     ...   ...
1096      Brian Rowe   ORL      900       30.0    58.0  2018
823    Jeff Attinella  POR      900       20.0    75.0  2014
398       Noah Palmer  CLB      900       10.0    71.4  2006
441   Andy Gruenebaum  CLB      900       10.0    66.0  2007
1177   Jeff Attinella  POR      900       10.0    62.5  2019

[455 rows x 6 columns]

In [113]:
gk_cleaning_Min_win=gk_cleaning.drop(["Position", "Games Played", "GS", "ShO", "Won", "Loss", "Tie", "Goals Against", "Goals Against Average", "Shots", "SV", "Season", "PKG/A"], axis = 1)
gk_cleaning_Min_win.head(50)

Final_Min_win=gk_cleaning_Min_win.sort_values(by =['Minutes',  'Winning %'], ascending=False)
Final_Min_win

               Player Club  Minutes  Winning %  Save %  Year
803       Stefan Frei  SEA     3060       58.8    66.4  2014
615      Kasey Keller  SEA     3060       52.9    75.9  2011
674     Jimmy Nielsen  KC      3060       52.9    75.5  2012
863       Luis Robles  MIA     3060       52.9    65.6  2015
1070        Tim Melia  SKC     3060       52.9    71.6  2018
...               ...  ...      ...        ...     ...   ...
1096      Brian Rowe   ORL      900       30.0    58.0  2018
823    Jeff Attinella  POR      900       20.0    75.0  2014
398       Noah Palmer  CLB      900       10.0    71.4  2006
441   Andy Gruenebaum  CLB      900       10.0    66.0  2007
1177   Jeff Attinella  POR      900       10.0    62.5  2019

[455 rows x 6 columns]

In [110]:
#capomulin_df = clean_merge_df.loc[clean_merge_df['Drug Regimen'] == 'Capomulin']
#gk_win_vs_sav_df = AB.loc[gk_cleaning_Min_win("Player")]

#avg_vol_df = pd.DataFrame(capomulin_df.groupby('Mouse ID')['Tumor Volume (mm3)'].mean().sort_values()).reset_index().rename(columns={'Tumor Volume (mm3)': 'avg_tumor_vol'})
avg_win_df = pd.DataFrame(AB.groupby("Player")["Winning %"].mean().sort_values()).reset_index()
avg_save_df = pd.DataFrame(AB.groupby("Player")["Save %"].mean().sort_values()).reset_index()
#avg_vol_df = pd.merge(capomulin_df, avg_vol_df, on='Mouse ID')
avg_winper_df = pd.merge(gk_cleaning_Min_win, avg_win_df, on="Player")
avg_winper_df

               Player Club  Minutes  Winning %_x  Save %  Year  Winning %_y
0           Mark Dodd  DAL     2776         54.8    68.1  1996    50.075000
1           Mark Dodd  DAL     2776         54.8    68.1  1996    50.075000
2           Mark Dodd  DAL     2700         46.7    73.5  1997    50.075000
3           Mark Dodd  DAL     2205         44.0    74.9  1998    50.075000
4          Tony Meola  MET     2610         48.3    75.5  1996    39.663636
..                ...  ...      ...          ...     ...   ...          ...
450    Maxime Crepeau  VAN     2340         26.9    71.7  2019    26.900000
451  Kenneth Kronholm  CHI     1800         30.0    66.7  2019    30.000000
452    Spencer Richey  CIN     1710         26.3    57.5  2019    26.300000
453  Przemyslaw Tyton  CIN     1350          6.7    51.6  2019     6.700000
454         Eloy Room  CLB     1080         41.7    70.2  2019    41.700000

[455 rows x 7 columns]

In [111]:
avg_win_df = pd.merge(gk_cleaning_Min_win, avg_win_df, on="Player")
avg_save_df

               Player     Save %
0      Pat Harrington  40.400000
1    Przemyslaw Tyton  51.600000
2       John McCarthy  53.700000
3      Bryan Meredith  55.600000
4        Cody Cropper  57.300000
..                ...        ...
119        Bill Hamid  74.122222
120    Bouna Coundoul  74.225000
121        Josh Wicks  75.000000
122        Henry Ring  75.300000
123      Brad Friedel  75.300000

[124 rows x 2 columns]

In [ ]:
avg_win_df = pd.merge(gk_cleaning_Min_win, avg_win_df, on="Player")
avg_save_df

#final_avg_vol_df = avg_vol_df[['Weight (g)', 'avg_tumor_vol']].drop_duplicates()
final_avg_win_df = avg_win_df[["Player", "Winning %_x"]].drop_duplicates()
#final_avg_vol_df
final_avg_win_df

#x = final_avg_vol_df['Weight (g)']
#y = final_avg_vol_df['avg_tumor_vol']
#x = gk_cleaning_Min_win['Winning %_y']
#y = gk_cleaning_Min_win['Save %']

# Calculate the correlation coefficient between Winning % and Save %
#correlation = st.pearsonr(x,y)

# Print the answer to above calculation
#print(f"""The correlation between weight and average tumor volume
#on the Capomulin regimen is {round(correlation[0],2)}.""")
#print(f"""The correlation between Winning % and Save %
#on the Goal Keeper is {round(correlation[0],2)}.""")

# Calculate linear regression
#(slope, intercept, rvalue, pvalue, stderr) = linregress(x, y)
#regress_values = x * slope + intercept
#line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

#(slope, intercept, rvalue, pvalue, stderr) = linregress(x, y)
#regress_values = x * slope + intercept
#line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot linear regression on top of scatter plot
#plt.scatter(x,y)
#plt.plot(x,regress_values,"r-")

# Annotate linear regression
#plt.annotate(line_eq,(20,37),fontsize=15,color="red")

# Add labels and title to plot
#plt.xlabel("Weight (g)")
#plt.ylabel("Average Tumor Volume (mm3)")
#plt.title('Average Tumor Volume by Weight')
#plt.show()

#plt.xlabel("Winning %")
#plt.ylabel("Save %")
#plt.title('Player_Wins_to_Saves')
#plt.show()

In [108]:
capomulin_df = clean_merge_df.loc[clean_merge_df['Drug Regimen'] == 'Capomulin']
avg_vol_df = pd.DataFrame(capomulin_df.groupby('Mouse ID')['Tumor Volume (mm3)'].mean().sort_values()).reset_index().rename(columns={'Tumor Volume (mm3)': 'avg_tumor_vol'})
avg_vol_df = pd.merge(capomulin_df, avg_vol_df, on='Mouse ID')
final_avg_vol_df = avg_vol_df[['Weight (g)', 'avg_tumor_vol']].drop_duplicates()
final_avg_vol_df
x = final_avg_vol_df['Weight (g)']
y = final_avg_vol_df['avg_tumor_vol']

# Calculate the correlation coefficient between mouse weight and average tumor volume
correlation = st.pearsonr(x,y)

# Print the answer to above calculation
print(f"""The correlation between weight and average tumor volume
on the Capomulin regimen is {round(correlation[0],2)}.""")

# Calculate linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x, y)
regress_values = x * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot linear regression on top of scatter plot
plt.scatter(x,y)
plt.plot(x,regress_values,"r-")

# Annotate linear regression
plt.annotate(line_eq,(20,37),fontsize=15,color="red")

# Add labels and title to plot
plt.xlabel("Weight (g)")
plt.ylabel("Average Tumor Volume (mm3)")
plt.title('Average Tumor Volume by Weight')
plt.show()

NameError: name 'clean_merge_df' is not defined