In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Name of the CSV file and show path
file = "All_playerss.csv"
all_playerss_csv_path = "All_playerss.csv"

In [3]:
all_players_clean = "All_playerss.csv"
all_players_clean = pd.read_csv(file)
all_players_clean

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9580,Brian Rodriguez,LAFC,F,7,5,385,0,0,17,5,...,0,0.00,5,5,1,0,0,29.41,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [4]:
# Import the data into a Pandas DataFrame
players_df = pd.read_csv(all_playerss_csv_path)
players_df

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9580,Brian Rodriguez,LAFC,F,7,5,385,0,0,17,5,...,0,0.00,5,5,1,0,0,29.41,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [5]:
# Indexing and eliminate rows past 2019
indexNames = all_players_clean[ all_players_clean["Year"] > 2019 ].index
# Delete rows from dataFrame
all_players_clean.drop(indexNames , inplace=True)
all_players_clean

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9580,Brian Rodriguez,LAFC,F,7,5,385,0,0,17,5,...,0,0.00,5,5,1,0,0,29.41,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [6]:
# Drop all players with less than 900 Minutes
indexNames = all_players_clean[ all_players_clean["MINS"] < 900 ].index
# Delete rows from dataFrame
all_players_clean.drop(indexNames , inplace=True)
all_players_clean

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577,Frankie Amaya,CIN,M,19,15,1241,0,0,16,5,...,0,0.00,18,28,1,2,0,31.25,2019,reg
9578,Tim Parker,RBNY,D,31,26,2387,0,0,16,2,...,0,0.00,21,12,0,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,D,24,24,2160,0,0,17,1,...,0,0.00,25,31,1,3,0,5.88,2019,reg
9581,Miles Robinson,ATL,D,34,33,2978,0,0,19,6,...,0,0.00,23,26,0,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,M,31,27,2359,0,0,22,2,...,0,0.00,79,57,3,6,0,9.09,2019,reg

In [7]:
# Remove and delete unecessary columns from the DataFrame and save the new DataFrame
all_players_cleaned = all_players_clean.drop(["POS", "GP", "GS", "A", "SHTS", "HomeGame", "RoadGame", "SC%", "HmA", "RdA", "FS", "OFF"], axis = 1)
all_players_cleaned.head(10)

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,2580,27,49,4,0.94,2,0.14,20,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,2351,23,49,4,0.88,0,0.08,32,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,2323,21,56,6,0.81,0,0.27,48,5,0,64.37,1996,reg
3,Preki,KC,2880,18,61,3,0.56,2,0.41,26,3,0,43.57,1996,reg
4,Brian McBride,CLB,2307,17,44,3,0.66,0,0.12,21,0,0,55.70,1996,reg
5,Steve Rammel,DC,1649,14,32,6,0.76,0,0.16,27,4,0,59.26,1996,reg
6,Vitalis Takawira,KC,2233,13,48,3,0.52,0,0.28,35,0,1,68.57,1996,reg
7,Paul Bravo,SJ,2654,13,29,4,0.44,0,0.17,36,2,0,50.00,1996,reg
8,Jason Kreis,DAL,2564,13,41,3,0.46,0,0.18,38,4,0,45.56,1996,reg
9,Giovanni Savarese,MET,1576,13,32,3,0.74,0,0.06,27,1,0,65.31,1996,reg

In [8]:
all_players_cleaned.sort_values(by = ["Club", "G"], ascending = False)
all_players_cleaned

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,2580,27,49,4,0.94,2,0.14,20,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,2351,23,49,4,0.88,0,0.08,32,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,2323,21,56,6,0.81,0,0.27,48,5,0,64.37,1996,reg
3,Preki,KC,2880,18,61,3,0.56,2,0.41,26,3,0,43.57,1996,reg
4,Brian McBride,CLB,2307,17,44,3,0.66,0,0.12,21,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9577,Frankie Amaya,CIN,1241,0,5,0,0.00,0,0.00,18,2,0,31.25,2019,reg
9578,Tim Parker,RBNY,2387,0,2,0,0.00,0,0.00,21,5,1,12.50,2019,reg
9579,Alexander Callens,NYC,2160,0,1,0,0.00,0,0.00,25,3,0,5.88,2019,reg
9581,Miles Robinson,ATL,2978,0,6,0,0.00,0,0.00,23,4,0,31.58,2019,reg
9582,Luis Alberto Caicedo,NE,2359,0,2,0,0.00,0,0.00,79,6,0,9.09,2019,reg

In [9]:
players_byclubs = all_players_cleaned.sort_values(by = ['Player', 'Club'], ascending = False)
players_byclubs

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
4589,Álvaro Fernández,SEA,1849,9,21,3,0.44,0,0.00,16,3,0,50.00,2011,reg
5133,Álvaro Fernández,CHI,1863,4,7,0,0.19,2,0.14,16,2,1,24.14,2012,reg
8413,Zoltan Stieber,DC,1833,5,12,0,0.25,1,0.34,11,1,0,35.29,2018,reg
8338,Zlatan Ibrahimovic,LA,2143,22,49,7,0.92,0,0.42,36,5,1,42.24,2018,reg
8959,Zlatan Ibrahimovic,LA,2610,30,65,9,1.03,3,0.24,51,7,0,43.05,2019,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,A.J. DeLaGarza,MIA,2491,0,2,0,0.00,0,0.07,24,4,0,100.00,2014,reg
6987,A.J. DeLaGarza,MIA,1963,0,0,0,0.00,1,0.05,11,4,0,0.00,2015,reg
7704,A.J. DeLaGarza,MIA,2064,0,1,0,0.00,0,0.00,21,5,0,33.33,2016,reg
8050,A.J. DeLaGarza,MIA,2623,0,2,0,0.00,1,0.10,26,8,0,25.00,2017,reg
9350,A.J. DeLaGarza,MIA,1995,0,2,0,0.00,0,0.05,25,6,0,25.00,2019,reg

In [10]:
players_bygoals = all_players_cleaned.sort_values(by = ['Player', 'Club', 'G', 'GWG','G/90min','SOG%'], ascending = False)
players_bygoals

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
4589,Álvaro Fernández,SEA,1849,9,21,3,0.44,0,0.00,16,3,0,50.00,2011,reg
5133,Álvaro Fernández,CHI,1863,4,7,0,0.19,2,0.14,16,2,1,24.14,2012,reg
8413,Zoltan Stieber,DC,1833,5,12,0,0.25,1,0.34,11,1,0,35.29,2018,reg
8959,Zlatan Ibrahimovic,LA,2610,30,65,9,1.03,3,0.24,51,7,0,43.05,2019,reg
8338,Zlatan Ibrahimovic,LA,2143,22,49,7,0.92,0,0.42,36,5,1,42.24,2018,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7704,A.J. DeLaGarza,MIA,2064,0,1,0,0.00,0,0.00,21,5,0,33.33,2016,reg
8050,A.J. DeLaGarza,MIA,2623,0,2,0,0.00,1,0.10,26,8,0,25.00,2017,reg
9350,A.J. DeLaGarza,MIA,1995,0,2,0,0.00,0,0.05,25,6,0,25.00,2019,reg
5531,A.J. DeLaGarza,MIA,2644,0,0,0,0.00,0,0.00,41,4,0,0.00,2012,reg
6987,A.J. DeLaGarza,MIA,1963,0,0,0,0.00,1,0.05,11,4,0,0.00,2015,reg

In [11]:
# Reorganizing the columns using double brackets
players_organized = all_players_cleaned.sort_values(by = ["Player","Club","G","SOG", "GWG"], ascending = False)
players_organized.head()

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
4589,Álvaro Fernández,SEA,1849,9,21,3,0.44,0,0.00,16,3,0,50.00,2011,reg
5133,Álvaro Fernández,CHI,1863,4,7,0,0.19,2,0.14,16,2,1,24.14,2012,reg
8413,Zoltan Stieber,DC,1833,5,12,0,0.25,1,0.34,11,1,0,35.29,2018,reg
8959,Zlatan Ibrahimovic,LA,2610,30,65,9,1.03,3,0.24,51,7,0,43.05,2019,reg
8338,Zlatan Ibrahimovic,LA,2143,22,49,7,0.92,0,0.42,36,5,1,42.24,2018,reg

In [12]:
# Reorganizing the columns using double brackets

players_cards_organized = all_players_cleaned.sort_values(by = ["Player","Club","YC","RC"], ascending = False)
players_cards_organized.head

<bound method NDFrame.head of                   Player Club  MINS   G  SOG  GWG  G/90min  GWA  A/90min  FC  \
4589    Álvaro Fernández  SEA  1849   9   21    3     0.44    0     0.00  16
5133    Álvaro Fernández  CHI  1863   4    7    0     0.19    2     0.14  16
8413      Zoltan Stieber   DC  1833   5   12    0     0.25    1     0.34  11
8959  Zlatan Ibrahimovic   LA  2610  30   65    9     1.03    3     0.24  51
8338  Zlatan Ibrahimovic   LA  2143  22   49    7     0.92    0     0.42  36
...                  ...  ...   ...  ..  ...  ...      ...  ...      ...  ..
6987      A.J. DeLaGarza  MIA  1963   0    0    0     0.00    1     0.05  11
4318      A.J. DeLaGarza  MIA  1307   1    1    0     0.07    0     0.00  14
5025      A.J. DeLaGarza  MIA  2627   0    1    0     0.00    0     0.00  31
6068      A.J. DeLaGarza  MIA  2399   0    1    0     0.00    0     0.00  22
3930      A.J. DeLaGarza  MIA  1754   1    2    0     0.05    1     0.05  14

      YC  RC    SOG%  Year Season
4589   3   0   50.00  2011    reg
5133   2   1   24.14  2012    reg
8413   1   0   35.29  2018    reg
8959   7   0   43.05  2019    reg
8338   5   1   42.24  2018    reg
...   ..  ..     ...   ...    ...
6987   4   0    0.00  2015    reg
4318   3   0  100.00  2010    reg
5025   3   0   33.33  2011    reg
6068   3   0   50.00  2013    reg
3930   2   0   66.67  2009    reg

[5103 rows x 15 columns]>

In [19]:
# Create a dataframe for clubs with the highest goal
best_goals = all_players_cleaned.groupby(['G'])

print (best_goals)

best_goals.head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000029165AC1B38>

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,2580,27,49,4,0.94,2,0.14,20,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,2351,23,49,4,0.88,0,0.08,32,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,2323,21,56,6,0.81,0,0.27,48,5,0,64.37,1996,reg
3,Preki,KC,2880,18,61,3,0.56,2,0.41,26,3,0,43.57,1996,reg
4,Brian McBride,CLB,2307,17,44,3,0.66,0,0.12,21,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8340,Mauro Manotas,HOU,2633,19,43,2,0.65,0,0.03,24,1,0,45.26,2018,reg
8341,Gyasi Zardes,CLB,2948,19,40,4,0.58,0,0.00,27,3,0,45.45,2018,reg
8958,Carlos Vela,LAFC,2726,34,71,6,1.12,5,0.50,12,1,0,44.38,2019,reg
8959,Zlatan Ibrahimovic,LA,2610,30,65,9,1.03,3,0.24,51,7,0,43.05,2019,reg
8960,Josef Martinez,ATL,2581,27,50,7,0.94,1,0.14,17,1,0,42.74,2019,reg

In [21]:
# Create a dataframe for club grouping per goal
best_clubs = all_players_cleaned.groupby(['Club', 'G'])

print (best_clubs)

best_clubs.head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000029165AC1DD8>

,Player,Club,MINS,G,SOG,GWG,G/90min,GWA,A/90min,FC,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,2580,27,49,4,0.94,2,0.14,20,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,2351,23,49,4,0.88,0,0.08,32,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,2323,21,56,6,0.81,0,0.27,48,5,0,64.37,1996,reg
3,Preki,KC,2880,18,61,3,0.56,2,0.41,26,3,0,43.57,1996,reg
4,Brian McBride,CLB,2307,17,44,3,0.66,0,0.12,21,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9522,Justin Hoyte,CIN,1477,0,1,0,0.00,0,0.00,11,3,0,33.33,2019,reg
9534,Maikel van der Werff,CIN,990,0,1,0,0.00,0,0.00,12,2,0,25.00,2019,reg
9546,Caleb Stanko,CIN,1438,0,2,0,0.00,0,0.00,26,3,0,40.00,2019,reg
9563,Nick Hagglund,CIN,1802,0,2,0,0.00,0,0.00,17,2,0,20.00,2019,reg
9578,Tim Parker,RBNY,2387,0,2,0,0.00,0,0.00,21,5,1,12.50,2019,reg